/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


html {
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
}

body {
  height: 60;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-style: bold;
  background-color: lightblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-origin: padding-box 10%;
  padding: 2rem;
  background-position-x: center;
  -webkit-flow-from: initial;
  font-size: medium;
  align-items:center;
  -webkit-box-align: center;
  width: 40;
  
}

.card {
  padding: 2rem;
  border-radius: 0px;
  margin-bottom: 0rem;
  shape-image-threshold: initial;
  font-size: medium;

}